#first-image {
    background-image: url(images/donation8.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    height: 500px;




}

.font-style {
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 140px;
    font-weight: bold;
}

.font-style h1 {
    font-size: 50px;
}

.font-style h2 {
    font-size: 40px;
}