#first-image {
    background-image: url(images/donation8.jpg);
    background-repeat: no-repeat;
    border: 0;
    background-position: center;
    background-size: cover;
    position: relative;
    height: 650px;

}

body {
    margin: 0;
}

.font-style {
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 192px;
}

.font-style-section2 {
    text-align: center;
    padding: 50px 80px 50px 80px;
    font-weight: bold;
}

.font-style-section3 {
    text-align: center;
    padding: 80px 80px 50px 80px;
    font-weight: bold;
}

.bonus {
    display: flex;
    margin-left: 200px;
    margin-right: 200px;
}

.image {
    margin: 30px;
    border-radius: 2px;
}

.text {
    margin-top: 80px;
}

.font-style-section2 h1 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 0;

}

.font-style-section3 h1 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 0;

}

.font-style-section2 p {
    font-size: 20px;
    padding: 10px 200px;
    color: gray;
}

.font-style-section3 p {
    font-size: 20px;
    padding-bottom: 0;
    margin-bottom: 0;
    color: gray;
    text-align: center;
}

#font-style-section2-p {
    font-size: 20px;
    padding: 20px 150px;

}

.box-icon-style p {
    padding-right: 90px;
    padding-bottom: 40px;
}


.font-style h1 {
    font-size: 50px;
    font-weight: bold;
    text-shadow: 2px 2px 8px black;
    margin-bottom: 0;
    margin-top: 0;
}

.font-style p {
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
    text-shadow: 2px 2px 8px black;
}

.link-button {
    text-decoration-line: none;
    background-image: linear-gradient(orangered, tomato);
    padding: 20px 30px;
    border-radius: 5px;
    color: whitesmoke;
    font-weight: bolder;
    font-size: larger;

}

.button_class {
    border: none;
    color: black;
    padding: 16px 32px;
    text-align: center;
    font-size: 30px;
    margin: 4px 2px;
}

#button-subs {
    border: none;
    padding: 10px 20px;
    text-align: center;
    font-size: 20px;
    margin: 5px 0px;
    background-color: lightsalmon;
}

button:hover {
    background-image: linear-gradient(orangered, tomato);
    color: white;
}

#other {
    text-align: center;
    padding-bottom: 25px;
    width: 750px;
    font-size: 20px;
    outline: 0;
    border-width: 0 0 2px;
    border-color: rgba(128, 128, 128, 0.357);
}

.other-amount {
    text-align: center;
}

.email-subs {
    text-align: center;
    background-color: antiquewhite;
    margin-left: 300px;
    margin-right: 300px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.email {
    width: 250px;
    height: 40px;
    font-size: 20px;
    margin-right: 0;
    margin-left: 0;
    padding-left: 10px;
    padding-right: 30px;
    outline: 0;
    outline-width: 0;
    border-width: 0 0 0px;
    background-color: lightgray;

}

.box-icon-style {
    display: flex;
    margin-left: 120px;
    margin-right: 120px;

}

.box-icon-style div {
    margin: 15px;
}

#food {
    padding-top: 30px;
    background-color: rgb(185, 185, 225);
    padding-left: 20px;
}

#shelter {
    padding-top: 30px;
    background-color: rgb(221, 191, 196);
    padding-left: 20px;
}

#edu {
    padding-top: 30px;
    background-color: bisque;
    padding-left: 20px;
}

footer {
    text-align: center;
    background-color: black;
}

footer h2 {
    color: brown;
    font-family: cursive;
    padding-top: 20px;
    font-size: 30px;
    font-weight: 900;
}

footer p {
    color: blanchedalmond;
    padding-bottom: 30px;
    margin-bottom: 0;
}